PROJECT_ROOT = "" // /home/user/app/blinks
BASE_URL = ""     // your web site domen
API_PATH = "/wp-json/wp/v2/posts"
POSTS_PER_PAGE = 10
TRIPSTER_DOMAIN = "tripster.ru"
JSON_DIR = "json"
POST_DATA_FILE = "post_data.json"
TRIPSTER_LINKS_FILE = "tripster_links.json"
